body{
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: fit-content;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: rgb(255, 255, 255);

}
.input_div{
 
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    gap: 2vw;
    color: #52b5dc;
}
#input_value{
    width: 30vw;
    text-align: center;
    outline: none;
    border: none;
    border-bottom: 0.2vw solid #52b5dc;
    color:#0384b7;
    background-color: transparent;
    font-size: 1.3vw;
}
#input_value::placeholder{
    color: #52b5dc;
    opacity: 80%;
}
button{
    background-color: #52b5dc;
    padding: 0.5vw 1vw 0.5vw 1vw;
    outline: none;
    border: none;
    border-radius: 2vw;
    color: white;
    font-size: 1.3vw;
}
h1{
    font-size: 3vw;
}
h4{
    font-size: 2.5vw;
    color: #0384b7;
}